@if (loading) {
	<div class="column center wrapper">
		<div class="spacing"></div>
		<mat-spinner/>
		<div class="spacing"></div>
	</div>
} @else {
	@if (status === "main") {
		<app-main/>
	} @else {
		<div class="column gap center wrapper padding-top-bottom padding-sides">
			<div class="spacing"></div>
			<h1>WiFi Setup</h1>
			<div>Only 2.4 GHz networks are supported at this time.</div>

			<form class="column gap center" [formGroup]="formGroup">
				<mat-form-field class="control" subscriptSizing="dynamic">
					<mat-label>Network SSID</mat-label>
					<input matInput autocomplete="off" spellcheck="false" (input)="status = 'none'" #ssid formControlName="ssid">
				</mat-form-field>
				<mat-form-field class="control" subscriptSizing="dynamic">
					<mat-label>Password</mat-label>
					<input matInput autocomplete="off" spellcheck="false" (input)="status = 'none'" #password formControlName="password" type="password">
				</mat-form-field>
				<button mat-flat-button class="control" (click)="save()" [disabled]="ssid.value === '' || password.value === '' || ssid.value === oldSsid && password.value === oldPassword">Save</button>
			</form>
			<div>{{ status === "success" ? "Save successful!" : status === "fail" ? "Connection error!" : '&nbsp;' }}</div>
			<div class="spacing"></div>
			<mat-slide-toggle (change)="setTheme($event.checked)" [checked]="isDarkTheme()">Dark Theme</mat-slide-toggle>
		</div>
	}
}
